# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
*.egg

# Django
backend/staticfiles/
backend/media/
*.log

# Virtualenv
venv/
env/
.venv/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Frontend
frontend/node_modules/
frontend/dist/

# Env
.env
.env.local

# Database (local only)
*.sqlite3

# Check scripts
_check*.py